<%= form_with(model: class_list) do |form| %>
  <% if class_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(class_list.errors.count, "error") %> prohibited this class_list from being saved:</h2>

      <ul>
        <% class_list.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= 
      form.text_field :course, 
      class:"form-control",
      placeholder:"Course"
    %>
    <br/>
  </div>

  <div class="field form-group">
    <%= 
      form.text_field :class_type,
      class:"form-control",
      placeholder:"Class Type"
    %>
    <br/>
  </div>

  <div class="field form-group">
    <%= 
      form.text_field :short_name,
      class:"form-control",
      placeholder:"Short Name"
    %>
    <br/>
  </div>

  <div class="field form-group">
    <%= 
      form.text_field :instructor,
      class:"form-control",
      placeholder:"Instructor"
    %>
    <br/>
  </div>

  <div class="field form-group">
    <%= 
      form.text_field :day,
      class:"form-control",
      placeholder:"Day" 
    %>
    <br/>
  </div>

  <div class="field form-group">
    <%= form.label :start_time %>
    <%= form.time_select :start_time, {minute_step: 60} %>
    <br/> <br/>
  </div>

  <div class="field form-group">
    <%= 
      form.number_field :class_length,
      class:"form-control",
      placeholder:"Class Length"
    %>
    <br/>
  </div>

  <div class="field form-group">
    <%= form.label :section, "Is this a Lecture?" %>
    <%= form.check_box :section, class:"form-check-input" %>
    <br/> <br/>
  </div>

  <div class="field form-group">
    <%= 
      form.text_field :location,
      class:"form-control",
      placeholder:"Location"
    %>
    <br/>
  </div>

  <div class="field form-group">
    <%= 
      form.number_field :course_cap,
      class:"form-control",
      placeholder:"Course Cap"
    %>
    <br/>
  </div>

  <div class="field form-group">
    <%= form.label :view_in_schedule %>
    <%= form.check_box :view_in_schedule, class:"form-check-input" %>
    <br/> <br/>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-dark" %>
  </div>
  <br/>
<% end %>
