<p id="notice"><%= notice %></p>

<h1>Class Lists</h1>

<table class="table table-primary table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Course</th>
      <th>Class type</th>
      <th>Short name</th>
      <th>Instructor</th>
      <th>Day</th>
      <th>Start time</th>
      <th>Class length</th>
      <th>Section</th>
      <th>Location</th>
      <th>Course cap</th>
      <th>View in schedule</th>
      <th>In schedule</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_lists.each do |class_list| %>
      <tr>
        <td><%= class_list.course %></td>
        <td><%= class_list.class_type %></td>
        <td><%= class_list.short_name %></td>
        <td><%= class_list.instructor %></td>
        <td><%= class_list.day %></td>
        <td><%= class_list.start_time.strftime("%H:%M") %></td>
        <td><%= class_list.class_length %></td>
        <td><%= class_list.section ? "LEC" : "TUT" %></td>
        <td><%= class_list.location %></td>
        <td><%= class_list.course_cap %></td>
        <td><%= class_list.view_in_schedule %></td>
        <td><%= class_list.in_schedule %></td>
        <td><%= link_to 'Show', class_list %></td>
        <td><%= link_to 'Edit', edit_class_list_path(class_list) %></td>
        <td><%= link_to 'Destroy', class_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class List', new_class_list_path, class:"btn btn-secondary" %>
